    <article class="contents">
        <div class="main_image">
            <div class="inner">
                <a class="main_link" href="/about/"><img src="" alt=""></a>
                <p id="slideshow">
                    <%= image_tag 'sample1.jpg', class: 'active', alt: "画像1"%>
                    <%= image_tag 'sample2.jpg', alt: "画像2"%>
                    <%= image_tag 'sample3.jpg', alt: "画像3"%>
                    <%= image_tag 'sample4.jpg', alt: "画像4"%>
                    <%= image_tag 'sample5.jpg', alt: "画像5"%>
                </p>
            </div>
            <div class="main_banner">
                <div class="center-content">
                    <a href="#" class="restaurant">
                        <span class="restaurant-first"></span>
                        <span class="left-door"></span>
                        <span class="right-door"></span>
                        <span class="restaurant-last"></span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="top_global_nav">
            <ul class="ca-menu">
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-search"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">知る</h2>
                            <h3 class="ca-sub">食品サンプル</h3>
                            <h4 class="ca-main2">紹介</h4>
                        </div>
                    </a>
                    <div class="circle">
                        <div class="circle-inner"></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="far fa-images"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">見る</h2>
                            <h3 class="ca-sub">食品サンプル</h3>
                            <h4 class="ca-main2">投稿</h4>
                        </div>
                    </a>
                    <div class="circle">
                        <div class="circle-inner"></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-utensils"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">作る</h2>
                            <h3 class="ca-sub">食品サンプル</h3>
                            <h4 class="ca-main2">体験</h4>
                        </div>
                    </a>
                    <div class="circle">
                        <div class="circle-inner"></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-shopping-cart"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">買う</h2>
                            <h3 class="ca-sub">食品サンプル</h3>
                            <h4 class="ca-main2">購入</h4>
                        </div>
                    </a>
                    <div class="circle">
                        <div class="circle-inner"></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="far fa-question-circle"></i></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">聞く</h2>
                            <h3 class="ca-sub">食品サンプル</h3>
                            <h4 class="ca-main2">質問</h4>
                        </div>
                    </a>
                    <div class="circle">
                        <div class="circle-inner"></div>
                    </div>
                </li>
            </ul>
        </nav>
<!-- footer -->
    <footer>
        <div class="footer_inner my-footer">
            <div class="footer_nav01">
                <div class="inner">
                    <ul class="list">
                        <li>
                            <h2><a href="/">食品サンプル<strong>紹介</strong></a></h2>
                            <ul class="sub_list">
                                <li><a href="/">・食品サンプルとは？</a></li>
                                <li><a href="/">・食品サンプルの歴史</a></li>
                                <li><a href="/">・食品サンプルの効果</a></li>
                                <li><a href="/">・食品サンプルの作り方</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2><a href="/">食品サンプル<strong>投稿</strong></a></h2>
                            <ul class="sub_list">
                                <li><a href="/">・食品サンプルをシェアしよう！</a></li>
                                <li><a href="/">・みんなの投稿</a></li>
                                <li><a href="/">・わたしの投稿</a></li>
                                <li><a href="/">・特集レシピ</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2><a href="/">食品サンプル<strong>体験</strong></a></h2>
                            <ul class="sub_list unimplement">
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2><a href="/">食品サンプル<strong>購入</strong></a></h2>
                            <ul class="sub_list unimplement">
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2><a href="/">食品サンプル<strong>質問</strong></a></h2>
                            <ul class="sub_list unimplement">
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                                <li><a href="/">テキストテキスト</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list lowBlock">
                        <li class="unimplement"><h2><a href="/">一般のお客さまへ<span>（商品のご紹介）</span></a></h2></li>
                        <li class="unimplement"><h2><a href="/">企業のお客さまへ<span>（販促物カタログのご紹介）</span></a></h2></li>
                    </ul>
                </div>
            </div>
            <div class="footer_nav02">
                <div class="inner">
                    <div class="nav_block">
                        <ul>
                            <li><a href="/">勉強進捗</a></li>
                            <li class="unimplement"><a href="/">テキストテキスト</a></li>
                            <li class="unimplement"><a href="/">テキストテキスト</a></li>
                            <li class="unimplement"><a href="/">テキストテキスト</a></li>
                            <li class="unimplement"><a href="/">テキストテキスト</a></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <a class="navbar-brand.header_logo" href="/">
                    <img class="header-logo" src="/user_images/facebook_cover_photo_1.png">
                <p class="copyright">世界に誇る食品サンプル</p>
            </div>
        </div>
    </footer>
<!-- /footer -->

</div>
